@media screen {
font-face {
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: normal;
  src: local('Gill Sans Std'), url('http://dev.andropogon.us/themes/web/css/type/GillSansStd.ttf') format('truetype');
}
}
